/* ====== Navigation ====== */
.navbar {
  color: #ffffff;
  width: 100%;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  position: absolute;
}


/*==============*/
.head__enlace {
  position: absolute;
  padding: 20px 0px;
}

.head__logo {
  width: 205px;
}

.head__navegacion ul {
  float: right;
  margin-right: 0px;
}

.head__navegacion ul li {
  display: inline-block;
  line-height: 100px;
  margin: 0 5px;
}

.head__navegacion ul li a {
  color: aliceblue;
  font-size: 18px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

.head__navegacion li a.active,
.head__navegacion li a:hover {
  background: #000;
  transition: 0.5s;
}

.checkbtn {
  background-color: #333333;
  font-size: 33px;
  color: #fff;
  float: right;
  line-height: 30px;
  margin-top: 25px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}


@media screen and (max-width: 768px) {
  .head__navegacion ul li {
    font-size: 16px;
    margin: 0;
    line-height: 120px;
  }
}

@media screen and (max-width: 390px) {
  .checkbtn {
    display: block;
    border-radius: 10px;
    background-color: #000;
    padding: 13px 8px;
  }

  .head__navegacion ul {
    position: relative;
    width: 100%;
    margin-top: 45px;
    background-color: #f7f4f4;
    left: -110%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 9px -9px 12px #000000b4;
    transition: all 0.5s;
  }

  .head__navegacion ul li {
    display: block;
    margin: 40px 0px;
    line-height: 60px;
    font-weight: bold;
  }

  .head__navegacion ul li a {
    font-size: 20px;
    color: #000;
    text-shadow: 2px 2px #6b3333;
  }

  .head__navegacion li:hover {
    background-color: #ffffff;
    margin: 40px;
    border-radius: 10px;
  }

  .head__navegacion li a:hover,
  .head__navegacion li a.active {
    background: none;
    background-color: #ffffff;
    color: #333333;
  }

  #check:checked~ul {
    left: 0;
  }
}

/* ======= Llamada Descripcion ======= */
.llamada {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  text-align: center;
  background-image: url(/img/hero2.jpg);
  background-size: cover;
  padding-top: 8.25rem;
  padding-bottom: 3.5rem;
}

.llamada__titulo {
  font-family: var(--montserrat);
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  color: #000;
}

.llamada__texto {
  font-size: 1.5rem;
  line-height: 1;
  text-align: center;
  margin: 0 auto 2.5rem;
}

.llamada__boton {
  color: var(--white-color);
  font-size: 1rem;
  border-color: var(--white-color);
}

.llamada__boton:hover {
  transform: scale(1.1);
  border: none;
}

@media screen and (min-width: 1024px) {
  .llamada__titulo {
    font-size: 3.25rem;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 375px) {
  .llamada__titulo {
    margin-top: 30px;
  }
}

/* ======= browser_list ======= */
.browser_list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.browser_list li {
  float: left;
}

.browser_list li a {
  display: block;
  color: var(--white-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.55rem;
}

.browser_list li a:hover {
  transform: translateY(-3px) scale(1.05);
}

@media screen and (min-width: 390px) {
  .browser_list ul li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
  }
}

/* ====== Collection Productos ====== */
.productos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.productos__titulo {
  color: var(--fuente-ceniza-oscuro);
  font-weight: 700;
  font-size: 1.5rem;
  font-family: var(--montserrat);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.25rem;
}

.caja img {
  width: 280px;
  height: 280px;
  border-radius: 0px;
  background: var(--background-blanco);
}

.caja img:hover {
  border: 0.1px solid black;
  transform: scale(1.05);
  margin-bottom: 5%;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #464646;
}

.caja {
  margin: 0 auto;
}

.name {
  margin: 0px auto;
  padding: 0;
  text-align: start;
  font-weight: 700;
  font-size: 1rem;
  font-family: var(--montserrat);
  background: var(--white-color);
}

.price {
  text-decoration: line-through;
  margin: 0px auto;
  padding: 0;
  text-align: start;
  font-weight: 700;
  font-size: 1rem;
  font-family: var(--montserrat);
  background: var(--white-color);
}

.offer {
  margin: 0px auto;
  padding: 10px 0 0 7px;
  text-align: start;
  font-weight: 700;
  font-size: 1.05rem;
  font-family: var(--montserrat);
  background: var(--white-color);
}

.buy {
  margin: 13px auto;
  padding: 10px 0 10px 0px;
  text-align: center;
  font-weight: 700;
  font-size: 1.05rem;
  font-family: var(--montserrat);
  background: var(--background-blanco);
  color: var(--color);
  border: 0.5px solid #464646;
  border-radius: 5px;
}

.buy:hover {
  transform: scale(1.01) translateY(-0.75px);
}

/* @media screen and (max-width: 768px) {
 
} */

@media screen and (max-width: 370px) {
  .caja img {
    width: 100%;
    height: 280px;
  }
}

/* ======= CONTACTO ======*/
.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: var(--background-blanco);
}

.contacto__titulo {
  color: var(--fuente-ceniza-oscuro);
  font-weight: 700;
  font-size: 1.5rem;
  font-family: var(--montserrat);
  text-transform: uppercase;
  text-align: center;

  margin-bottom: 1.25rem;
}

.contacto__boton {
  color: var(--whatsapp);
  font-size: 1.5rem;
  border-color: var(--whatsapp);
  margin-top: 1.25rem;
}

.contacto__boton:hover {
  transform: scale(1.1);
}

/* ======= UBICACION ======*/
.institucional {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--fuente-ceniza-oscuro);
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: var(--background-blanco);
}

.institucional__titulo {
  color: var(--fuente-ceniza-oscuro);
  font-weight: 700;
  font-size: 1.5rem;
  font-family: var(--montserrat);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
}

.institucional__descripcion {
  margin-bottom: 2rem;
}

.institucional_mapa {
  text-align: end;
}

.institucional__direccion {
  font-size: 1.5rem;
  line-height: normal;
  margin-bottom: 2rem;
}

.institucional__contacto {
  font-size: 1.2rem;
  line-height: 1.8;

  margin-top: 2rem;
}

.institucional__contacto-telefono {
  line-height: normal;
}

.institucional__contacto-email {
  color: var(--fuente-ceniza-oscuro);
  text-decoration: underline;
  display: block;
}

@media screen and (max-width: 390px) {
  .institucional_mapa iframe {
    display: block;
    width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .institucional__contacto-email {
    display: inline-block;
  }
}

@media screen and (min-width: 1024px) {
  .institucional__contenido {
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: left;
  }

  .institucional__contacto-email {
    display: block;
  }
}

/*  ======= visitenos ====== */
.invitacion {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-top: 30px;
  padding-bottom: 30px;
  color: var(--fuente-ceniza-oscuro);
  text-align: center;
}

.invitacion_informaciones {
  margin-bottom: 130px;
  padding: 13px;
  text-align: start;
}

.invitacion__titulo {
  color: var(--fuente-ceniza-oscuro);
  font-weight: 700;
  font-size: 1.5rem;
  font-family: var(--montserrat);
  text-transform: uppercase;
  text-align: start;
  margin-bottom: 2rem;
}

.invitacion__descripcion {
  margin-bottom: 2rem;
}

.invitacion__horario {
  font-size: 1.5rem;
  line-height: normal;
  margin-bottom: 2rem;
}


@media screen and (max-width: 768px) {
  .invitacion {
    flex-direction: column;
  }

  .invitacion_informaciones,
  .invitacion__titulo {
    width: 100%;
    text-align: center;
    padding: 10px;
    margin: 0;
  }

  .invitacion__imagen img {
    width: 500px;
  }
}

@media screen and (max-width: 768px) {
  .invitacion__imagen img {
    width: 675px;
  }
}

@media screen and (max-width: 390px) {
  .invitacion__imagen img {
    width: 320px;
  }
}

/* ======= footer ======= */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-footer);
  padding-top: 2.5rem;
  padding-bottom: 2rem;
}

.footer img:hover {
  transform: scale(1.1);
}

.footer__social {
  display: flex;
  gap: 35px;
  line-height: 2;
}

.footer__social li {
  color: #ffffff;
  font-size: 3rem;
}

.footer__social li:hover {
  transform: scale(1.05) translateY(-0.2em);
  color: var(--background-ceniza-claro);
}

.footer__navegacion {
  color: var(--background-blanco);
  font: var(--open-sans);
  text-align: center;
  line-height: 2;
}

.footer__enlace {
  display: inline-block;
  padding: 15px;
  margin: 0 0.5rem 0.7rem;
}

.footer__enlace:hover {
  transform: scale(1.1) translatey(-0.5em);
  color: var(--background-ceniza-claro);
}

.footer p {
  text-align: center;
  line-height: 20px;
  width: 100%;
  border-top: 1px solid #fff;
  padding: 13px;
  color: var(--white-color);
}

@media screen and (min-width: 1024px) {
  .footer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    gap: 3rem;
  }

  .footer__navegacion {
    text-align: left;
    min-width: 600px;
  }
}

@media screen and (max-width: 390px) {
  .footer__enlace {
    margin: 0;
    padding: 8px;
  }
}

